<div class="container-fluid vh-100 fixed-top">
  <header class="row">
      <div class="d-none d-xl-inline col-xl-2 justify-content-center page-title">
          Anime info
      </div>
      <div class="d-inline d-xl-none col-122 justify-content-center page-title">
          Anime info
          <span class="material-symbols-outlined menu-button" (click)="onClickSideMenu()">menu</span>
      </div>
      <input class="col-12 col-xl-10 search-bar" type="text" id="search" autocomplete="off" placeholder="Enter your anime, manga,..." [formControl]="searchName" (keydown.enter)="onPressedEnter()" />
  </header>
  <div class="row vh-100 main-section">
      <div class="d-xl-none col-12 horizontal-side-menu">
          <div class="side-nav">
              <p>Main</p>
              <a (click)="setIndex(1)" [ngClass]="{'selected-side-nav-item': selectedIndex == 1}">Genres</a>
              <a (click)="setIndex(2)" [ngClass]="{'selected-side-nav-item': selectedIndex == 2}">Categories</a>
              <a (click)="setIndex(3)" [ngClass]="{'selected-side-nav-item': selectedIndex == 3}">Recommended</a>
              <a (click)="setIndex(4)" [ngClass]="{'selected-side-nav-item': selectedIndex == 4}">Top Charts</a>
              <a (click)="setIndex(5)" [ngClass]="{'selected-side-nav-item': selectedIndex == 5}">New Releases</a>
          </div>
      </div>
      <div class="d-none d-xl-block col-2 side-menu">
          <div class="side-nav">
              <p>Main</p>
              <a (click)="setIndex(1)" [ngClass]="{'selected-side-nav-item': selectedIndex == 1}">Genres</a>
              <a (click)="setIndex(2)" [ngClass]="{'selected-side-nav-item': selectedIndex == 2}">Categories</a>
              <a (click)="setIndex(3)" [ngClass]="{'selected-side-nav-item': selectedIndex == 3}">Recommended</a>
              <a (click)="setIndex(4)" [ngClass]="{'selected-side-nav-item': selectedIndex == 4}">Top Charts</a>
              <a (click)="setIndex(5)" [ngClass]="{'selected-side-nav-item': selectedIndex == 5}">New Releases</a>
          </div>
      </div>
      <div class="col-12 col-xl-10 main-page">
          <router-outlet></router-outlet>
      </div>
  </div>
</div>

<!-- Modal -->
<div id="modal" class="my-modal">
  <div class="my-modal-content">
      <button (click)="onClickClose()" class="close-button"><img class="icon" src="../assets/icons/close-button.svg" width="100%" height="100%" /></button>
      <iframe #iframe id="trailer-video" width="100%" height="100%" title="YouTube video player" frameborder="0"
          src="about:blank"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
  </div>
</div>